<%- include('auth_header'); -%>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Dökümanlar</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quaerat voluptates nam ducimus accusamus
            quasi quos corporis fugiat numquam laborum!</p>
        </div>
      </div>

      <div id="dökümanlar">

        <div class="card">
            <div class="card-header">
              <span style="float: left;">Döküman Adı</span> <span style="float: right;">Güncellenme Tarihi</span>
            </div>
            <div class="card-body">
              <div class="docs">
              <% for(let i = 0;i<filesArray.length;i++){ %>
              <p>
                <span class="fileName"><%= filesArray[i].filesName %></span>
                <span class=fileDate><%= filesArray[i].filesDate%> </span>
              </p>
              <%}%>
              </div>
              <p id="messageElement"></p>
            </div>
            <div class="card-footer text-muted">
              <input type="text" onkeyup="searchDocuments()" name="searchBar" id="searchBar" placeholder="Dökümanlar arasında ara" autocomplete="none">
              <i class="fas fa-search search-glass"></i>
              <button disabled class="btn" id="showDocument" onclick="postDocument()" type="submit">Dökümanı Göster</button>
            </div>
          </div>

      </div>
    
    
    <div class="spaceforfooter"></div>
                  
    <%- include('footer'); -%>