<%- include('header'); -%>

<div class="forget-password">
<h2 style="padding-bottom: 1rem;">Şifre Sıfırlama</h2>
<form action="/resetpassword" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Şifrenizi sıfırlayabilmemiz için e-mail adresinizi girin.</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="e-mail adresinizi girin">
      <p style="padding-top:1rem;"><%=message%></p>

    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>
</div>

<div class="spaceforfooter"></div>
              
<%- include('footer'); -%>