<% if (isAuthenticated){ %>
<%- include('auth_header'); -%>
<% } %>

<% if (!isAuthenticated){ %>
    <%- include('header'); -%>
<% } %>


<%=message%>

<div class="spaceforfooter"></div>
              
<%- include('footer'); -%>