<%- include('header'); -%>

<div class="log_in">
    <h1>ÜYE GİRİŞİ</h1>
    <% if (message){ %>
    <p><span><i class="fas fa-exclamation-circle fa-1x" style="padding-right:5px;"></i></span><%=message%></p>
    <%}%>
    <form action="/login" method="post">
    <input type="email" placeholder="E-Posta" name="username">
    <input type="password" placeholder="Şifre" name="password">
    <a href="#" id="forget-password">Şifremi Unuttum </a>
    <button type="submit" name="loginButton">Giriş Yap</button>
</form>
    <p class="haveAccount">Hesabın yok mu?</p>
    <a href="/register" id="register-link">Kayıt Ol</a>
</div>

              
<%- include('footer'); -%>