<%- include('header'); -%>

<div class="forget-password">
<h2 style="padding-bottom: 1rem;">Yeni Şifre</h2>
<form  method="post">
    <div class="form-group">
      <label for="exampleInputPassword1">Yeni bir şifre girin.</label>
      <input type="password" class="form-control" id="exampleInputPassword1"  name="password1" placeholder="şifre" required>
      <label for="exampleInputPassword2">Şifre(Tekrar).</label>
      <input type="password" class="form-control" id="exampleInputPassword2"  name="password2" placeholder="şifre" required>
    </div>
    <div  class="warninMessages">
        <h5 style="color: rgb(0, 0, 0);">Şifreniz şunları içermelidir:</h5>
        <p id="letter" class="invalid">En az 1 <b>küçük</b> harf</p>
        <p id="capital" class="invalid">En az 1 <b>büyük</b> harf</p>
        <p id="number" class="invalid">En az 1 <b>sayı</b></p>
        <p id="length" class="invalid">Minimum <b>8 karakter</b></p>
        <p id="match" class="invalid">Şifre, tekrarı ile eşleşmeli</p>
    </div>  
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
</div>

<div class="spaceforfooter"></div>
              
<%- include('footer'); -%>