<%- include('header'); -%>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Veri Girişi</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quaerat voluptates nam ducimus accusamus
        quasi quos corporis fugiat numquam laborum!</p>
    </div>
  </div>

  <div class="container mt-3">

    <section class="carousel-header">
      <div class="head active" id="Departman">
        Departman
      </div>
      <div class="head" id="Süreç">
        Süreç
      </div>
      <div class="head" id="Veri-Kategorisi">
        Veri Kategorisi
      </div>
      <div class="head" id="Kişisel-Veri">
        Kişisel Veri
      </div>
      <div class="head" id="Özel-Nitelikli-Kişisel-Veri">
        Özel Nitelikli Kişisel Veri
      </div>
      <div class="head" id="İşleme-Amaçları">
        İşleme Amaçları
      </div>
      <div class="head" id="İlgili-Kişi">
        İlgili Kişi
      </div>
      <div class="head" id="Alıcı-Grupları">
        Alıcı / Alıcı Grupları
      </div>
      <div class="head" id="Teknik-Tedbirler">
        Teknik Tedbirler
      </div>
      <div class="head" id="İdari-Tedbirler">
        İdari Tedbirler
      </div>

    </section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="1" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="2" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="3" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="4" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="5" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="6" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="7" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="8" style="display: none;"></li>
        <li data-target="#myCarousel" data-slide-to="9" style="display: none;"></li>
      </ul>

      <!-- The slideshow -->

      <div class="carousel-inner">

        <div class="carousel-item active">
          <h4>Departman</h4>
          <div class="input-panel" name="departman">
            <ul>
              <li>İnsan Kaynakları <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Destek Hizmetleri<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Muhasebe<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kurumsal İlişkiler<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Bilgi İşlem<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Satış<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Dijital Pazarlama<span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>

        <div class="carousel-item">
          <h4>Süreç</h4>
          <div class="input-panel" name="süreç">
            <ul>
              <li>İnsan Kaynakları <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Destek Hizmetleri<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Muhasebe<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kurumsal İlişkiler<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Bilgi İşlem<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Satış<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Dijital Pazarlama<span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>

        <div class="carousel-item">
          <h4>Veri Kategorisi</h4>
          <div class="input-panel" name="veriKategorisi">
            <ul>
              <li>Kimlik <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İletişim <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Lokasyon <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Özlük <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Hukuki İşlem <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Müşteri İşlem <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Fiziksel Mekan Güvenliği <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İşlem Güvenliği <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Risk Yönetimi <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Finans <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Pazarlama <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Görsel ve İşitsel Kayıtlar <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Irk ve Etnik Köken <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Siyasi Düşünce Bilgileri <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Felsefi inanç, Din, Mezhep ve Diğer İnançlar <span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Kılık ve Kıyafet <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Dernek Üyeliği <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Vakıf Üyeliği <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Sendika Üyeliği <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Sağlık Bilgileri <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Cinsel Hayat <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Ceza Mahkumiyeti ve Güvenlik Tedbirleri <span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Biometrik Veri <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Genetik Veri <span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>



        <div class="carousel-item">
          <h4>Kişisel Veri</h4>
          <div class="input-panel" name="kişiselVeri">
            <ul>
              <li>Ad,Soyad<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Adres Bilgisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Anne- Baba Adı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Bakmakla Yükümlü Olduğu Kişilerin Ad ve Soyad Bilgisi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Banka IBAN Numarası<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Dijital İz Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Dijital Pazarlama<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Eğitim Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>E-Posta<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Fatura Bilgileri Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Finansal Veri<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Fotoğraf<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İmza Beyanı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İzin Belgesi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İnsan Kaynakları<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kamera Kaydı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Konum/Lokasyon Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kurum Sicil No<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kurum ve Unvan Bilgisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Mal Bildirimi Bayanı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Meslek<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Mesleki Veriler<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Müşteri Bilgileri Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Ofis G/Ç Zamanı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Özlük Bilgisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Pazarlama Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Performans ve Kariyer Gelişim Verisi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Resim<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Risk Yönetim Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Seyahat Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Talep/Şikayet Yönetim Bilgisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Taşıt Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>TC Kimlik No <span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Tedarikçi Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Telefon Numarası<span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>

        <div class="carousel-item">
          <h4>Özel Nitelikli Kişisel Veri</h4>
          <div class="input-panel" name="özelNitelikliKişiselVeri">
            <ul>
              <li>Adli Sicil Kaydı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Sağlık Raporu<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Biyometrik/ Genetik Veri<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Üyelik Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Güvenlik Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Hukuki İşlem ve Uyum Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kılık Kıyafet Verisi<span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>


        <div class="carousel-item">
          <h4>İşleme Amaçları</h4>
          <div class="input-panel" name="işlemeAmaçları">
            <ul>
              <li>Acil Durum Yönetimi Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Bilgi Güvenliği Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Çalışan Adayı / Stajyer / Öğrenci Seçme ve Yerleştirme Süreçlerinin Yürütülmesi<span><i
                    class="far fa-star" style="display: none;"></i></span></li>
              <li>Çalışan Adaylarının Başvuru Süreçlerinin Yönetilmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Çalışan Memnuniyeti VE Bağlılığı Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Çalışan İçin İş Akdi Ve Mevzuattan Kaynaklı Yükümlülüklerin Yerine Getirilmesi<span><i
                    class="far fa-star" style="display: none;"></i></span></li>
              <li>Çalışanlar İçin Yan Haklar Ve Menfaatleri Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Denetim / Etik Faaliyetlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Eğitim Faaliyetlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Erişim Yetkilerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Faaliyetlerin Mevzuata Uygun Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Finans Ve Muhasebe İşlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Firma / Ürün / Hizmetlere Bağlılık Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Fiziksel Mekan Güvenliğinin Temini<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Görevlendirme Süreçlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Hukuk İşlerinin Takibi ve Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>İç Denetim / Soruşturma / İstihbarat Faaliyetlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>İletişim Faaliyetlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>İnsan Kaynakları Süreçlerinin Planlanması<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>İş FaaliyetlerininYürütülmesi/ Denetimi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>İş Sağlığı / Güvenliği Faaliyetlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>İş Süreçlerinin İyleştirilmesine Yönelik Önerilerin Alınması ve Değerlendirilmesi<span><i
                    class="far fa-star" style="display: none;"></i></span></li>
              <li>İş Sürekliliğinin Sağlanması Faaliyetlerin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Lojistik Faaliyetlerin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Mal / Hizmet Satın Alım Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Mal / Hizmet Satış Sonrası Destek Hizmetlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Mal / Hizmet Satış Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Mal / Hizmet Üretim ve Operasyon Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Müşteri İlişkileri Yönetimi Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Müşteri Memnuniyetine Yönelik Aktivitelerin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Organizasyon ve Etkinlik Yönetimi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Pazarlama Analiz Çalışmalarının Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Performans Değerlendirme Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Reklam / Kampanya / Promosyon Süreçlerinin Yönetilmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Risk Yönetimi Süreçlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Saklama ve Arşiv Faaliyetlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Sosyal Sorumluluk ve Sivil Toplum Aktivitelerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Sözleşme Süreçlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Sponsorluk Faaliyetlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Stratejik Planlama Faaliyetlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Talep / Şikayetlerin Takibi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Taşınır Mal ve Kaynakların Güvenliğinin Temini<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Tedarik Zinciri Yönetimi Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Ücret Politikasının Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Ürün / Hizmetlerin Pazarlama Süreçlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Veri Sorumlusu Operasyonlarının Güvenliğinin Temini<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Yabancı Personel Çalışma ve Oturma İzin İşlemleri<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Yatırım Süreçlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Yetenek / Kariyer Gelişimi Faaliyetlerinin Yürütülmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Yetkili Kişi, Kurum ve Kuruluşlara Bilgi Verilmesi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Yönetim Faaliyetlerinin Yürütülmesi<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Ziyaretçi Kayıtlarının Oluşturulması ve Takibi<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>

        <div class="carousel-item">
          <h4>İlgili Kişi</h4>
          <div class="input-panel" name="ilgiliKişi">
            <ul>
              <li>Çalışan Adayı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Çalışan<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Denek<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Habere Konu Kişi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Hissedar / Ortak<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Potansiyel Ürün veya Hizmet Alıcısı<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Sınav Adayı<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Stajyer<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Tedarikçi Çalışan<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Tedarikçi Yetkilisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Ürün veya Hizmet Alan Kişi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Veli / Vasi / Temsilci<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Ziyaretçi<span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>

        <div class="carousel-item">
          <h4>Alıcı / Alıcı Grupları</h4>
          <div class="input-panel" name="alıcıGrupları">
            <ul>
              <li>Gerçek Kişiler veya Özel Hukuk Kişileri<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Herkese Açık<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Hissedarlar<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İş Ortakları<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İştirakler ve Bağlı Ortaklıklar<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Tedarikçiler<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Topluluk Şirketleri<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Yetkili Kamu Kurum ve Kuruluşları<span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>

        <div class="carousel-item">
          <h4>Teknik Tedbirler</h4>
          <div class="input-panel" name="teknikTedbirler">
            <ul>
              <li>Yetki Matrisi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Yetki Kontrol<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Erişim Logları<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kullanıcı Hesap Yönetimi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Ağ Güvenliği<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Uygulama Güvenliği<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Şifreleme<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Sızma Testi<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Saldırı Tespit ve Önleme Sistemleri<span><i class="far fa-star" style="display: none;"></i></span>
              </li>
              <li>Log Kayıtları<span><i class="far fa-star" style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>

        <div class="carousel-item">
          <h4>İdari Tedbirler</h4>
          <div class="input-panel" name="idariTedbirler">
            <ul>
              <li>Kişisel Veri İşleme Envanteri Hazırlanması<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Kurumsal Politikalar (Erişim, Bilgi Güvenliği, Kullanım, Saklama ve İmha vb.)<span><i
                    class="far fa-star" style="display: none;"></i></span></li>
              <li>Sözleşmeler (Veri Sorumlusu - Veri Sorumlusu, Veri Sorumlusu Veri İşleyen Arasında)<span><i
                    class="far fa-star" style="display: none;"></i></span></li>
              <li>Gizlilik Tahhütnameleri<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Kurum İçi Periyodik ve/veya Rastgele Denetimler<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Risk Analizleri<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>İş Sözleşmesi, Disiplin Yönetmeliği (Kanuna Uygun Hükümler İlave Edilmesi)<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Kurumsal İletişim (Kriz Yönetimi, Kurul ve İlgili Kişiyi Bilgilendirme Süreçleri, İtibar Yönetimi
                vb.)<span><i class="far fa-star" style="display: none;"></i></span></li>
              <li>Eğitim ve Farkındalık Faaliyetleri (Bilgi Güvenliği ve Kanun)<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
              <li>Veri Sorumluları Sicil Bilgi Sistemine (VERBİS) Bildirim<span><i class="far fa-star"
                    style="display: none;"></i></span></li>
            </ul>
            <p></p>
            <div class="buttons">
              <button type="submit" style="display:none;" class="btn btn-success" onclick="addItem(this)">Ekle</button>
              <button type="submit" style="display:none;" class="btn btn-secondary" onclick="backToInputs(this)">Geri
                Dön</button>
            </div>
          </div>
          <div class="inputdiv">
            <input type="text" class="myInput" onkeyup="search2(this)" autocomplete="off">
            <i class="far fa-star search-star" onclick='pulse(this)'></i>
            <i class="fas fa-search search-glass"></i>
          </div>
        </div>



      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </div>




  </select>
    <button type="submit" class="btn btn-success">Kaydet</button>
  </form>




  <%- include('footer'); -%>