<%- include('auth_header'); -%>

<section class="select-firm">
    
   <p style="color:#B33A3A;"><%=message%></p>     
  <form action="/veri-girisi-firm" method="POST">
    <label for="firms">Verisini işleyeceğiniz firmanın ismi</label>
    <br>
      <select name="firms" id="firms">
        <% for(var i=0 ;i<firms.length; i++) {%>
            <option><%=firms[i]%></option>
        <%}%>     
            </select>
             <br>
        <% if(!firms.length){ %>
          <button disabled type="button" class="btn">Devam Et</button>
          <%}%>
          <%if(firms.length){%>
          <button type="submit" class="btn btn-success" name="contiune" value="contiune">Devam Et</button>
          <%}%>
          <button type="submit" class="btn btn-info" name="add" value="add">Firma Ekle</button>
          </form>
        
   
</section>


              
<%- include('footer'); -%>